.body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  align-items: center;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  font-weight: bold;
  background-color: #0099ff;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.header > h1 {
  color: #e1dbd6;
  font-size: clamp(0.8rem, 5vw, 1.8rem);
  margin-bottom: 50px;
}
.headerContainer {
  display: flex;
  flex-flow: row nowrap;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
.headerContainer > * {
  flex: 1;
  color: #fff;
  min-width: 300px;
  max-width: 700px;
  max-height: 500px;
  margin: 20px;
}
.profilePicContainer {
  max-width: 70%;
}

.header,
.footer {
  width: 100%;
  min-height: 100px;
}
.main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-self: center;
  text-align: justify;
  flex: 1;
  /* background-color: #edf2fb; */
  background-color: #e1dbd6;
  /* background-color: #fcf5c7; */
}
.mainTop {
  width: 100%;
}
.waveTop {
  width: 100%;
}
.mainCenter {
  flex: 1;
  padding: 0 20px;
}
.mainBottom {
  width: 100%;
}
.waveBottom {
  width: 100%;
  transform: rotate(180deg);
}

.footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  background-color: #0099ff;
  height: auto;
  min-height: 100px;
  margin-top: -5px;
}
/* devices less than 380px */
@media (max-width: 379.98px) {
}

/* devices less than 640px */
@media (max-width: 639.98px) {
  .headerContainer {
    flex-flow: column-reverse nowrap;
    align-items: center;
    justify-content: center;
  }
}
/* devices less than 1008px */
@media (max-width: 1006.98px) {
}
